.commentpanel:hover{
	background-color:#c5c5c5 !important;
	cursor:pointer;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nopicContainer {
    position: relative;
    text-align: center;
    color: white;
}

.nopicCaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0.9;
}

.nopic{
	opacity:0.5;
}

.chip {
    display: inline-block;
    padding: 0 0 0 25px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    width:100%;
    margin:5px 0;
}

.chip:hover{
	background-color:#c5c5c5 !important;
	cursor:pointer;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chipQA {
    float: right;
    border-radius: 50% !important;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

#notificationDiv{
	display:none;
	position:absolute;
	right:20px;
	z-index:1100;
}

#notificationAlert{
	width:500px;
	margin:0;
	text-align:center;
	margin-bottom:0px;
	font-weight:bold;
}

#notificationClose{
	position: absolute;
    top: 5px;
    right: 10px
}